.file-content-container {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    
}

.file-content-title {
    text-align: center;
    margin-top: 22px;
    padding-top: 21px;
    p {
        text-align: center;
    }
}

.file-content-body {
    background: white;
}

.file-content-item {
    h4 {
        padding-left: 30px;
    }
    pre {
        background: #442171;
        color: white;
        padding: 34px 29px;
        /* padding-left: 22px; */
        margin: 30px 30px 30px 30px;
        border-radius: 22px;
    }
}