 <!-- <button (click)="openSettings(i)">
                  settings</button> -->
 <div cdkDropListGroup class="row">
   <!-- <div class="example-container">
     <h2>To do</h2>

     <div cdkDropList class="example-list">
       <div class="example-box" *ngFor="let item of controls" cdkDrag [cdkDragData]="item">{{item.inputType}}</div>
     </div>
     <pre>{{ inputFormGroup.value | json }}</pre>
   </div> -->
   <mat-list cdkDropList class="col col-4">
      <h3 mat-subheader>Controls</h3>
      <mat-list-item *ngFor="let item of controls" cdkDrag [cdkDragData]="item">
        <!-- <mat-icon mat-list-icon>folder</mat-icon> -->
        <h4 mat-line>{{item.inputType}}</h4>
        <!-- <p mat-line> {{folder.updated | date}} </p> -->
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>

   <div cdkDropList class="container pt-5 mb-5 mat-container col col-4" style="margin: 16px;" (cdkDropListDropped)="drop($event)">
      <mat-card class="mat-card-block">
        <mat-card-header>
          <mat-card-title class="material-title">Material Form</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content class="content-position">
          <ng-container *ngFor="let data of selectedControls; let i= index">
              <ng-container *ngIf="inputFormGroup.get(data.propertyName)">
                  <ng-container *ngIf="data.inputType === 'textBox'">
                      <mat-form-field class="custom-form-field" appearance="outline" cdkDrag>
                        <mat-label>{{data.displayName}}</mat-label>
                        <input matInput [formControl]="inputFormGroup.get(data.propertyName)">
                      </mat-form-field>
                      <ng-container *ngTemplateOutlet="settingsAndRemove; context: {$implicit: data.propertyName, index: i}"></ng-container>
                      <!-- <ng-container *ngTemplateOutlet="settingsButton; context: {$implicit: i}"></ng-container>
                      <ng-container *ngTemplateOutlet="removeButton; context: {$implicit: data.propertyName, index: i}"></ng-container> -->
                      <!-- <button (click)="onSettingsClick(i)">settings</button> -->
                    </ng-container>

                    <ng-container *ngIf="data.inputType === 'textArea'">
                        <mat-form-field class="custom-form-field" appearance="outline" cdkDrag>
                            <mat-label>{{data.displayName}}</mat-label>
                            <textarea matInput [formControl]="inputFormGroup.get(data.propertyName)"></textarea>
                          </mat-form-field>
                          <ng-container *ngTemplateOutlet="settingsAndRemove; context: {$implicit: data.propertyName, index: i}"></ng-container>
                          <!-- <ng-container *ngTemplateOutlet="settingsButton; context: {$implicit: i}"></ng-container>
                          <ng-container *ngTemplateOutlet="removeButton; context: {$implicit: data.propertyName, index: i}"></ng-container> -->
                    </ng-container>

                    <ng-container *ngIf="data.inputType === 'selectBox'">
                        <mat-form-field class="custom-form-field" appearance="outline" cdkDrag>
                            <mat-label>{{data.displayName}}</mat-label>
                            <mat-select [formControl]="inputFormGroup.get(data.propertyName)">
                              <mat-option *ngFor="let option of data.inputArray" value="{{option[data.valueField]}}">{{option[data.displayField]}}</mat-option>
                              <!-- <mat-option value="option2">Option2</mat-option>
                              <mat-option value="option3">Option3</mat-option> -->
                            </mat-select>
                          </mat-form-field>
                          <ng-container *ngTemplateOutlet="settingsAndRemove; context: {$implicit: data.propertyName, index: i}"></ng-container>
                    </ng-container>

                    <ng-container *ngIf="data.inputType === 'dateBox'">
                        <mat-form-field class="custom-form-field" appearance="outline" cdkDrag>
                            <mat-label>{{data.displayName}}</mat-label>
                            <input matInput [matDatepicker]="picker1" [formControl]="inputFormGroup.get(data.propertyName)">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                          </mat-form-field>
                          <ng-container *ngTemplateOutlet="settingsAndRemove; context: {$implicit: data.propertyName, index: i}"></ng-container>
                    </ng-container>
                    <ng-container *ngIf="data.inputType === 'radioButton'">
                        <div class="pt-3">
                            <mat-radio-group aria-label="Select an option" [formControl]="inputFormGroup.get(data.propertyName)" cdkDrag>
                              <mat-radio-button class="custom-radio-button" *ngFor="let option of data.inputArray"
                                value="{{data.valueField ? option[data.valueField] : option}}">{{data.displayField ? option[data.displayField] : option}}</mat-radio-button>
                              <!-- <mat-radio-button class="custom-radio-button" value="2">Option 2</mat-radio-button> -->
                            </mat-radio-group>
                          </div>
                          <ng-container *ngTemplateOutlet="settingsAndRemove; context: {$implicit: data.propertyName, index: i}"></ng-container>
                    </ng-container>

                    <ng-container *ngIf="data.inputType === 'toggle'">
                        <div class="pt-3" cdkDrag>
                            <mat-slide-toggle class="custom-toggle" [formControl]="inputFormGroup.get(data.propertyName)">
                                {{data.displayName}}
                            </mat-slide-toggle>
                          </div>
                          <ng-container *ngTemplateOutlet="settingsAndRemove; context: {$implicit: data.propertyName, index: i}"></ng-container>
                    </ng-container>
                    <ng-container *ngIf="data.inputType === 'checkBox'">
                        <div class="pt-3" cdkDrag>
                            <mat-checkbox class="custom-checkbox" [formControl]="inputFormGroup.get(data.propertyName)">{{data.displayName}}</mat-checkbox>
                          </div>
                          <ng-container *ngTemplateOutlet="settingsAndRemove; context: {$implicit: data.propertyName, index: i}"></ng-container>
                    </ng-container>
                    <ng-container *ngIf="data.inputType === 'multiSelect'" >
                        <mat-form-field class="custom-form-field" appearance="outline">
                            <mat-select placeholder="{{data.displayName}}" [formControl]="inputFormGroup.get(data.propertyName)" multiple>
                              <mat-select-trigger>
                                {{inputFormGroup.get(data.propertyName).value ? inputFormGroup.get(data.propertyName).value[0] : ''}}
                                <span *ngIf="inputFormGroup.get(data.propertyName).value?.length > 1" class="example-additional-selection">
                                  (+{{inputFormGroup.get(data.propertyName).value.length - 1}} {{inputFormGroup.get(data.propertyName).value?.length === 2 ? 'other' : 'others'}})
                                </span>
                              </mat-select-trigger>
                              <mat-option *ngFor="let option of data.inputArray" [value]="data.valueField ? option[data.valueField] : option">
                                {{data.displayField ? option[data.displayField] : option}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                    </ng-container>
              </ng-container>
          </ng-container>
        </mat-card-content>
      </mat-card>
    </div>
    <pre>{{ inputFormGroup?.value | json }}</pre>
 <ng-container #settings></ng-container>
 <ng-template #settingsAndRemove let-propertyName let-index="index">
    <button (click)="onSettingsClick(index)">settings</button>
    <button (click)="removeControl(propertyName, index)">remove</button>
 </ng-template>
 <!-- <ng-template #settingsButton let-i>
    <button (click)="onSettingsClick(i)">settings</button>
 </ng-template>
 <ng-template #removeButton let-propertyName let-index>
    <button (click)="removeControl(propertyName, index)">remove</button>
 </ng-template> -->


 <!-- <form class="example-form" [formGroup]="inputFormGroup" *ngIf="inputFormGroup">
            <mat-form-field class="custom-form-field" appearance="outline">
              <mat-label>Input</mat-label>
              <input matInput [formControl]="inputFormGroup.controls.input">
            </mat-form-field>
            <mat-form-field class="custom-form-field" appearance="outline">
              <mat-label>Textarea</mat-label>
              <textarea matInput [formControl]="inputFormGroup.controls.textArea"></textarea>
            </mat-form-field>
            <mat-form-field class="custom-form-field" appearance="outline">
              <mat-label>Select</mat-label>
              <mat-select [formControl]="inputFormGroup.controls.selectBox">
                <mat-option value="option1">Option1</mat-option>
                <mat-option value="option2">Option2</mat-option>
                <mat-option value="option3">Option3</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="custom-form-field" appearance="outline">
              <mat-label>Date</mat-label>
              <input matInput [matDatepicker]="picker1" [formControl]="inputFormGroup.controls.date">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="custom-form-field" appearance="outline">
              <mat-label>Time</mat-label>
              <input matInput type="time" format="HH" [formControl]="inputFormGroup.controls.time">
            </mat-form-field>
            <div class="pt-3">
              <mat-radio-group aria-label="Select an option" [formControl]="inputFormGroup.controls.radioType">
                <mat-radio-button class="custom-radio-button" value="1">Option 1</mat-radio-button>
                <mat-radio-button class="custom-radio-button" value="2">Option 2</mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="pt-3">
              <mat-slide-toggle class="custom-toggle" [formControl]="inputFormGroup.controls.toggle">Slide me!
              </mat-slide-toggle>
            </div>
            <div class="pt-3">
              <mat-checkbox class="custom-checkbox" [formControl]="inputFormGroup.controls.check">Check me!</mat-checkbox>
            </div>
            <mat-form-field class="custom-form-field" appearance="outline">
              <mat-label>Toppings</mat-label>
              <mat-select [formControl]="inputFormGroup.controls.multiSelect" multiple>
                <mat-select-trigger>
                  {{inputFormGroup.controls.multiSelect.value ? inputFormGroup.controls.multiSelect.value[0] : ''}}
                  <span *ngIf="inputFormGroup.controls.multiSelect.value?.length > 1" class="example-additional-selection">
                    (+{{inputFormGroup.controls.multiSelect.value.length - 1}}
                    {{inputFormGroup.controls.multiSelect.value?.length === 2 ? 'other' : 'others'}})
                  </span>
                </mat-select-trigger>
                <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
              </mat-select>
            </mat-form-field>
          </form> -->
    
   <!-- <div class="example-container">
     <h2>Done</h2> -->

     <!-- <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
       <div *ngFor="let data of selectedControls">
         <ng-container *ngIf="inputFormGroup.get(data.propertyName) && data.inputType === 'textBox'">
           <mat-form-field class="example-full-width full-width" cdkDrag>
             <input matInput placeholder="{{data.displayName}}" [formControl]="inputFormGroup.get(data.propertyName)">

             <ng-container *ngIf="data.openSettings">
               <ng-container *ngTemplateOutlet="settings; context: {$implicit: data, index: i}"></ng-container>
             </ng-container>
           </mat-form-field>
         </ng-container>

         <ng-container *ngIf="inputFormGroup.get(data.propertyName) && data.inputType === 'dateBox'">
           <mat-form-field class="example-full-width full-width" cdkDrag>
             <input matInput [matDatepicker]="picker1" placeholder="{{data.displayName}}"
               [formControl]="inputFormGroup.get(data.propertyName)">
             <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
             <mat-datepicker #picker1></mat-datepicker>
           </mat-form-field>
         </ng-container>

         <ng-container *ngIf="inputFormGroup.get(data.propertyName) && data.inputType === 'toggle'">
           <mat-slide-toggle [formControl]="inputFormGroup.get(data.propertyName)" cdkDrag>{{data.displayName}}
           </mat-slide-toggle>
         </ng-container>

         <ng-container *ngIf="inputFormGroup.get(data.propertyName) && data.inputType === 'checkBox'">
            <mat-checkbox [formControl]="inputFormGroup.get(data.propertyName)" cdkDrag>{{data.displayName}}</mat-checkbox>
          </ng-container>

          <ng-container *ngIf="inputFormGroup.get(data.propertyName) && data.inputType === 'selectBox'">
              <mat-form-field>
                  <mat-select placeholder="{{data.displayName}}" [formControl]="inputFormGroup.get(data.propertyName)">
                    <mat-option *ngFor="let item of getInputArray(data)" value="{{item[data.valueField]}}">Option1</mat-option>
                  </mat-select>
                </mat-form-field>
          </ng-container>
       </div>
     </div>  -->
     <!-- <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)" #doneList="cdkDropList">
      <form *ngIf="inputFormGroup" [formGroup]="inputFormGroup">
        <ng-container *ngFor="let data of selectedControls; let i=index">

          <ng-container [ngSwitch]="data.inputType" *ngIf="inputFormGroup.get(data.propertyName)">
            
            <ng-container *ngSwitchCase="'textBox'">
              <mat-form-field class="example-full-width full-width" cdkDrag>
                <input matInput placeholder="{{data.displayName}}"
                  [formControl]="inputFormGroup.get(data.propertyName)">
               
                <ng-container *ngIf="data.openSettings">
                  <ng-container *ngTemplateOutlet="settings; context: {$implicit: data, index: i}"></ng-container>
                </ng-container>
              </mat-form-field>
            </ng-container>

            <ng-container *ngSwitchCase="'dateBox'">
              <mat-form-field>
                <input matInput [matDatepicker]="picker1" placeholder="{{data.displayName}}"
                  [formControl]="inputFormGroup.get(data.propertyName)">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
            </ng-container>

            <ng-container *ngSwitchCase="'toggle'">
              <mat-slide-toggle [formControl]="inputFormGroup.get(data.propertyName)">{{data.displayName}}
              </mat-slide-toggle>
            </ng-container>

            <ng-container *ngSwitchCase="'checkBox'">
              <mat-checkbox [formControl]="inputFormGroup.get(data.propertyName)">{{data.displayName}}</mat-checkbox>
            </ng-container>


          </ng-container>

        </ng-container>
      </form>
    </div>  -->
   <!-- </div>
 </div> -->
 
 <!-- <ng-template #settings let-data>
   <ng-container *ngIf="selectedSettings">

     <h2 mat-dialog-title>Settings</h2>
     <mat-dialog-content>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Display Name" [(ngModel)]="selectedSettings.displayName">
          </mat-form-field>
       <mat-form-field class="example-full-width">
         <input matInput placeholder="Property Name" [(ngModel)]="selectedSettings.propertyName">
       </mat-form-field>
       <mat-form-field class="example-full-width">
         <input matInput placeholder="Input Array" [(ngModel)]="selectedSettings.inputArray">
       </mat-form-field>
       <mat-form-field class="example-full-width">
         <input matInput placeholder="Value Field" [(ngModel)]="selectedSettings.valueField">
       </mat-form-field>
       <mat-form-field class="example-full-width">
         <input matInput placeholder="Display Field" [(ngModel)]="selectedSettings.displayField">
       </mat-form-field>
       <mat-checkbox [(ngModel)]="selectedSettings.required">Validation Required</mat-checkbox>
     </mat-dialog-content>
     <mat-dialog-actions>
        <!-- <button mat-button (click)="onNoClick()">No Thanks</button>
        <button mat-button [mat-dialog-close]="data.index" cdkFocusInitial>Ok</button> -->
       <!-- <button mat-button (click)="closeSettings(data.index)">No</button>
       <button mat-button (click)="applySettings(data.index)">Yes</button>
     </mat-dialog-actions>
   </ng-container>
 </ng-template> -->

 <!-- <div cdkDropList class="example-list" (cdkDropListDropped)="drop1($event)">
   <div class="example-box" *ngFor="let movie of movies" cdkDrag>{{movie}}</div>
 </div>

 <div cdkDropList class="example-list" (cdkDropListDropped)="dropToExisting($event)">
   <div class="example-box" *ngFor="let data of selectedControls">
     <mat-form-field class="example-full-width full-width" cdkDrag>
       <input matInput placeholder="{{data.displayName}}" [formControl]="inputFormGroup.get(data.propertyName)">

       <ng-container *ngIf="data.openSettings">
         <ng-container *ngTemplateOutlet="settings; context: {$implicit: data, index: i}"></ng-container>
       </ng-container>
     </mat-form-field>
   </div>
 </div> -->
