<div class="container pt-5 mb-5 mat-container col col-4" style="margin: 16px;">
          <mat-card class="mat-card-block">
            <mat-card-header>
              <mat-card-title class="material-title">{{settings.formTitle}}</mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content cdkDropList class="content-position">
      
              <ng-container *ngFor="let data of selectedControls; let i= index">
                  <ng-container *ngIf="!data.isFormControlOnly">
                      <ng-container *ngTemplateOutlet="controlsDisplay; context:{$implicit: data, inputFormGroup: inputFormGroup, formArrayName: null}">
                      </ng-container>
                  </ng-container>
                <ng-container *ngIf="data.formArrayName">
                  <ng-container *ngTemplateOutlet="formArrayDisplay; context:{$implicit: data, formArrayName: data.formArrayName}">
                  </ng-container>
                </ng-container>
                <ng-container *ngIf="data.formGroupName">
                  <ng-container *ngTemplateOutlet="formGroupDisplay; context:{$implicit: data, formArrayName: null, formGroupName: data.formGroupName}">
                  </ng-container>
                </ng-container>
              </ng-container>
            </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card-footer >
                <button mat-button>{{settings.buttons.cancelButtonTitle}}</button>
                <button mat-button>{{settings.buttons.okButtonTitle}}</button>
            </mat-card-footer>
          </mat-card>
        </div>
        <br />
        <ng-template #controlsDisplay let-data let-inputFormGroup="inputFormGroup" let-formArrayName="formArrayName"
          let-formGroupName="formGroupName">
          <ng-container *ngIf="inputFormGroup || 1===1">
            <ng-container *ngIf="data.inputType === 'textBox'">
              <mat-form-field class="custom-form-field" appearance="outline">
                <mat-label>{{data.displayName}}</mat-label>
                <input matInput [formControl]="inputFormGroup.get(data.propertyName)">
              </mat-form-field>
            </ng-container>
      
            <ng-container *ngIf="data.inputType === 'textArea'">
              <mat-form-field class="custom-form-field" appearance="outline">
                <mat-label>{{data.displayName}}</mat-label>
                <textarea matInput [formControl]="inputFormGroup.get(data.propertyName)"></textarea>
              </mat-form-field>
            </ng-container>
      
            <ng-container *ngIf="data.inputType === 'selectBox'">
              <mat-form-field class="custom-form-field" appearance="outline">
                <mat-label>{{data.displayName}}</mat-label>
                <mat-select [formControl]="inputFormGroup.get(data.propertyName)">
                  <mat-option *ngFor="let option of data.inputArray" value="{{data.valueField ? option[data.valueField]: option}}">
                    {{data.displayField ? option[data.displayField]: option}}</mat-option>
                </mat-select>
              </mat-form-field>
            </ng-container>
      
            <ng-container *ngIf="data.inputType === 'dateBox'">
              <mat-form-field class="custom-form-field" appearance="outline">
                <mat-label>{{data.displayName}}</mat-label>
                <input matInput [matDatepicker]="picker1" [formControl]="inputFormGroup.get(data.propertyName)">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
            </ng-container>
            <ng-container *ngIf="data.inputType === 'radioButton'">
              <div class="pt-3" cdkDrag>
                <mat-radio-group aria-label="Select an option" [formControl]="inputFormGroup.get(data.propertyName)">
                  <mat-radio-button class="custom-radio-button" *ngFor="let option of data.inputArray"
                    value="{{data.valueField ? option[data.valueField] : option}}">
                    {{data.displayField ? option[data.displayField] : option}}</mat-radio-button>
                </mat-radio-group>
              </div>
            </ng-container>
      
            <ng-container *ngIf="data.inputType === 'toggle'">
              <div class="pt-3" cdkDrag>
                <mat-slide-toggle class="custom-toggle" [formControl]="inputFormGroup.get(data.propertyName)">
                  {{data.displayName}}
                </mat-slide-toggle>
              </div>
            </ng-container>
            <ng-container *ngIf="data.inputType === 'checkBox'">
              <div class="pt-3" cdkDrag>
                <mat-checkbox class="custom-checkbox" [formControl]="inputFormGroup.get(data.propertyName)">
                  {{data.displayName}}</mat-checkbox>
              </div>
            </ng-container>
            <ng-container *ngIf="data.inputType === 'multiSelect'">
              <mat-form-field class="custom-form-field" appearance="outline">
                <mat-select placeholder="{{data.displayName}}" [formControl]="inputFormGroup.get(data.propertyName)" multiple>
                  <mat-select-trigger>
                    {{inputFormGroup.get(data.propertyName).value ? inputFormGroup.get(data.propertyName).value[0] : ''}}
                    <span *ngIf="inputFormGroup.get(data.propertyName).value?.length > 1"
                      class="example-additional-selection">
                      (+{{inputFormGroup.get(data.propertyName).value.length - 1}}
                      {{inputFormGroup.get(data.propertyName).value?.length === 2 ? 'other' : 'others'}})
                    </span>
                  </mat-select-trigger>
                  <mat-option *ngFor="let option of data.inputArray"
                    [value]="data.valueField ? option[data.valueField] : option">
                    {{data.displayField ? option[data.displayField] : option}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </ng-container>
          </ng-container>
        </ng-template>
        <ng-template #formArrayDisplay let-data let-formArrayName="formArrayName">
          FormArray Name - {{ data.formArrayName }}
          <ng-container *ngFor="let item of data.controls; let i=index">
            <ng-container *ngFor="let control of item; let j=index">
                    <ng-container *ngIf="!data.isFormControlOnly">
                        <ng-container *ngTemplateOutlet="controlsDisplay; context:{$implicit: control,
                          inputFormGroup: inputFormGroup.get(data.formArrayName).at(i), formArrayName: formArrayName}">
                        </ng-container>
                    </ng-container>
            </ng-container>
          </ng-container>
          
        </ng-template>
        <ng-template #formGroupDisplay let-data let-formArrayName="formArrayName" let-formGroupName="formGroupName">
          FormGroup Name - {{ formGroupName }}
          <ng-container *ngFor="let control of data.controls; let j=index">
                <ng-container *ngIf="!data.isFormControlOnly">
                    <ng-container
                      *ngTemplateOutlet="controlsDisplay; context:{$implicit: control,
                      inputFormGroup: inputFormGroup.get(data.formGroupName), formArrayName: formArrayName, formGroupName: formGroupName}">
                    </ng-container>
                </ng-container>
          </ng-container>
        </ng-template>
      